
img{
    width: 10%;
    height: 10%;

}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: white;
}
nav ul li{
    font-size: 32px;
    margin: 20px 20px 20px 20px;
    display: inline-block;
}

.link{
    text-decoration: none;
    color: rgb(15, 14, 14);
    font-family:"Orbitron", sans-serif;
}

.active{
    color: violet;
}